@model IEnumerable<SimpleTaskManagerMVC.Models.SimpleTask>

@{
    ViewData["Title"] = "All Tasks";
}


<table width="100%" style="border-style:none;" class="table table-hover table-borderless">
    <thead>
        <tr>
            <th width="25%">
                Task Name 
            </th>
            <th width="25%">               
                Due Date
            </th>
            <th width="25%">               
                Completed
            </th>
            <th width="25%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string cssClass = "task";

            if (item.Completed)
            {
                cssClass = "task-complete";
            }
            else if(item.DueDate <= System.DateTime.Now && !item.Completed) {
                cssClass = "task-overdue";
            }


            <tr class="@cssClass">
               <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDateString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletedString)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<div class="form-inline col-12">
    <partial>
        @{await Html.RenderPartialAsync("_Create", Model.LastOrDefault());}
    </partial>
</div>